services:
  app:
    build:
      context: ./backend
    working_dir: /var/www
    volumes:
      - ./backend:/var/www
    depends_on:
      - mysql
    command: sh -lc "mkdir -p storage/framework/{cache,views,sessions} bootstrap/cache && chmod -R 775 storage bootstrap/cache && php-fpm"

  nginx:
    image: nginx:alpine
    ports:
      - "8080:80"
    volumes:
      - ./backend:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  mysql:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: evolua
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3307:3306"
    volumes:
      - dbdata:/var/lib/mysql

volumes:
  dbdata: